[package]
name = "higher-dimension-playground"
version = "0.1.0"
edition = "2021"

#[lib]
#crate-type = ["cdylib", "rlib"]

[dependencies]
cgmath = "0.18.0"
winit = "0.29"
pollster = "0.4.0"
wgpu = { version = "23.0.0", features = ["webgpu"]}
env_logger = "0.11.5"
log = "0.4.22"

bytemuck = { version = "1.19", features=["derive"] }
cfg-if = "1"
wasm-bindgen = "0.2.95"
web-sys = "0.3.72"
wasm-bindgen-futures = "0.4.45"

web-time = "1.1.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.6"
console_log = "1.0"
wasm-bindgen-futures = "0.4.45"
wasm-bindgen = "0.2.95"
web-sys = { version = "0.3.72", features = [
    "Document",
    "Window",
    "Element",
]}



